.LoginSignupForm{
    width: 400px;
    margin: 80px auto;   
    background-color: white;
    padding: 16px 16px 16px 16px;
    border-radius: 12px;
    transition: all 0.2s ease-out;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.height-336{
    min-height: 336px;
    height: 336px;

}
.height-520{
    min-height: 520px;
    height: 520px;
}

.LoginSignupForm-Container > * {
    margin: 20px 0;
}

.LoginSignupForm-Inline{
    display: flex;
    gap: 16px;
}