.FiltersContainer {
    background-color: white;
    height: calc(100vh - var(--header-height-full));

}

.FiltersContainer-InnerContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 32px;
}

.FiltersContainer-InnerContainer-Category > *:first-child {
    padding-bottom: 16px;
    width: 100%;
    text-align: center;
}

.FiltersContainer-InnerContainer-Category > *:last-child {
    padding-top: 16px;
    width: 100%;
    text-align: center;
}