.MainPageContainer{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.MainPageContainer-PostsContainer{
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--header-height));
    overflow: scroll;
    gap: 16px;
    padding-top: 32px;
    padding-left: 32px;
}
