.MainPageContainer{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.MainPageContainer-PostsContainer{
    display: flex;
    flex-direction: column;

    gap: 16px;
    margin: 32px;   
}
