.PostContainer{
    max-width: 768px;
    height: 220px;
    border : 1px solid #e2e8f0;
    border-radius : 12px;
    display: flex;
    flex-direction: row;    
    gap: 16px;
    transition: all 0.2s ease-out;
    background-color: white;
}

.PostContainer:hover{
    transform: scale(1.02);
    cursor: pointer;
}

.PostContainer-Internal{
    width: 560px; 
    padding: 16px 16px 16px 16px;
    border-radius : 12px;
    display: flex;
    flex-direction: column;    
    gap: 16px;
}

.PostContainer > img {
    width: fit-content;
    height: 100%;
    object-fit: cover;
    border-radius: 0px 12px 12px 0px;
}

.PostContainer-Internal-BottomFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .PostContainer{
        max-width: 356px;
        height: fit-content;
        flex-direction: column;    
    }

    .PostContainer-Internal{
        width: 100%; 
        padding: 16px 16px 16px 16px;
        border-radius : 12px;
        display: flex;
        flex-direction: column;    
        gap: 16px;
    }
    
    .PostContainer > img {
        width: 100%;
        height: fit-content;
        object-fit: cover;
        border-radius: 0px 0px 12px 12px;
    }
    
}